<!-- Banner -->
<section id="banner">
    <div class="inner">
        <div class="title">
            <img class="image" src="/images/wm_logo.png" />
        </div>

        {{- if .Params.actions }}
        <ul class="actions fit stacked">
            {{ range $action := .Params.actions }}
            <li><a
                href="{{ if strings.HasPrefix $action.url "#" }}{{ $action.url }}{{ else }}{{ $action.url | relURL }}{{ end }}"
                class="button"
            >
                {{- $action.label }}</a></li>
            {{ end }}
        </ul>
        {{ end }}

        {{ if .Params.text_area}}
            {{ partial "markdownify-block" .Params.text_area }}
        {{ end }}
    </div>
</section>